a{color:#323232;text-decoration:none}

.box02{background:#fff;overflow:hidden;zoom:1;border-bottom: 1px solid #dcdcdc;font:400 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;color:#323232;font-size:.20rem;}
.box02_2{float:right;width:.4rem;height:.4rem;background:url(../images/box02_2.png) center no-repeat;background-size:.14rem;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.box02_1{height:.4rem;padding-right:.4rem;}
.box02_1 ul{padding-left:.1rem;overflow:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;white-space:nowrap;zoom:1;}
.box02_1 ul li{display:inline-block;min-width:14%;height:.4rem;line-height:.4rem;text-align:center;}
.box02_1 ul li a{display:block;height:.3rem;line-height:.3rem;margin:.05rem 0;}
.box02_1 ul li.hover a{background:#1592da;color:#fff;}
.box02_h .box02_2{margin-top:1.2rem;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}
.box02_h .box02_1 ul{height:1.6rem;overflow-x:hidden;white-space:normal;padding-left:0;position:absolute;height:auto;}
.box02_h .box02_1 li{float:left;min-width:14.28%;}

